<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>

    <meta property="og:site.data.status_name" content="{{ site.data.status.title | default: 'Status Page' }}"/>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.data.status.title | default: 'Status Page' }}</title>
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.data.status.title | default: 'Status Page' }}"/>
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.data.status.title | default: 'Status Page' }}"/>

    {%- if site.data.status.description -%}
    <meta name="description" content="{{ site.data.status.description | markdownify | strip_html | strip_newlines }}"/>
    <meta property="og:description" content="{{ site.data.status.description | markdownify | strip_html | strip_newlines }}"/>
    <meta name="twitter:description" content="{{ site.data.status.description | markdownify | strip_html | strip_newlines }}"/>
    {%- endif %}

    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}"/>

    <link rel="stylesheet" type="text/css" href="https://use.typekit.net/dmn7igh.css"/>
    <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | relative_url }}"/>
  </head>
  <body>
    <div class="page container-fluid">
      <header class="pt-5 pb-3">
        <a class="d-flex flex-row justify-content-start align-items-center w-100 text-decoration-none" href="{{ '/' | relative_url }}">
          {%- if site.data.status.icon -%}<img class="icon mr-2" src="{{ site.data.status.icon | relative_url }}"/>{%- endif -%}
          <h1 class="m-0">{{ site.data.status.title | default: 'Status Page' }}</h1>
        </a>
      </header>

      {{ content }}

      <footer class="my-5 d-flex justify-content-between align-items-center">
        <small>
          {%- if page.url == "/" -%}
            <a href="{{ '/history' | relative_url }}" class="text-secondary text-decoration-none">History</a>
          {%- else -%}
            <a href="{{ '/' | relative_url }}" class="text-secondary text-decoration-none">Current</a>
          {%- endif -%}
        </small>
        <small>
          <a href="https://github.com/someimportantcompany/status-page" class="text-secondary text-decoration-none">
            Powered by <strong>someimportantcompany/status-page</strong>
          </a>
        </small>
      </footer>

      <script type="text/javascript" src="{{ '/js/axios.min.js' | relative_url }}"></script>
      <script type="text/javascript" src="{{ '/js/script.js' | relative_url }}"></script>
    </div>
  </body>
</html>
